body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    padding: 16px;
    font-size: 15px;
    color: brown;
    font-weight: bold;
    border: 2px solid dashed black;
    border-radius: 25px;
}